@using ListingTodos.Models
@model ViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Todo</title>
</head>
<body>
    <h1>Detail</h1>
    <b>@Html.Label("Todo title:")</b> @Model.Todo.Title<br />
    <b>@Html.Label("Todo description:")</b> @Model.Todo.Description<br />
    <b>@Html.Label("Assignee:")</b> @Model.Todo.Assignee<br />
    <b>@Html.Label("Urgent:")</b> @Model.Todo.IsUrgent<br />
    <b>@Html.Label("Done:")</b> @Model.Todo.IsDone<br />
    <a href="/">Back</a>
</body>
</html>